.choose__about {
  background-image: url(../../../images/1650734200192443444.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 490px;
  height: 265px;
  margin: 45px 50px 30px 50px;
  border-radius: 30px;
}
