@keyframes second-card {
  30% {
    transform: translate(174px);
  }
  100% {
    z-index: 2;
    transform: translate(-163px);
  }
}

@keyframes first-card {
  30% {
    transform: translate(-50px);
    z-index: -10;
  }
  100% {
    z-index: -10;
    transform: translate(813px);
  }
}

@keyframes rest-cards {
  30% {
    transform: translate(0);
  }
  100% {
    transform: translate(-163px);
  }
}

.cards-slider {
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
}

.cards-slider__title {
  margin: 0;
  padding: 0;
}

.cards-slider__gallery {
  margin: 40px 0 0;
  padding: 0;
  position: relative;
}

.cards-slider__cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
}

.cards-slider__card {
  margin: 0 0 0 -224px;
  padding: 35px 30px;
  width: 387px;
  height: 456px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 30px;
}

.cards-slider__animation_card_second {
  animation: 1.2s forwards second-card;
}

.cards-slider__animation_card_second > .cards-slider__card-wrapper {
  backdrop-filter: blur(0);
  transition: backdrop-filter .5s linear;
}

.cards-slider__animation_card_first {
  animation: 1.2s forwards first-card;
}

.cards-slider__animation_card_first > .cards-slider__card-wrapper {
  backdrop-filter: blur(2px);
  transition: backdrop-filter .5s linear;
}

.cards-slider__animation_card_rest {
  animation: 1.2s forwards rest-cards;
}

.cards-slider__card-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(2px);
  visibility: visible;
  transition: backdrop-filter 0s linear;
}

.cards-slider__card_active {
  margin: 0;
}

.cards-slider__card_active > .cards-slider__card-wrapper {
  visibility: hidden;
}

.cards-slider__card_color_blue {
  background-color: #3F75E0;
}

.cards-slider__card_color_pink {
  background-color: #D182AF;
}

.cards-slider__card_color_black {
  background-color: #000;
}

.cards-slider__card_color_purple {
  background-color: #7C6BE3;
}

.cards-slider__card-description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #FFF;
}

.cards-slider__card-title {
  margin: 0;
  padding: 0;
  min-height: 70px;
  letter-spacing: -1px;
}

.cards-slider__subtitle {
  margin: 0;
  padding: 0;
  letter-spacing: -.7px;
  line-height: 30px;
}

.cards-slider__image {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 146px;
  border-radius: 15px;
}