.add {
  margin-right: 122px;
  max-width: 183px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .add {
    grid-area: add;
    margin: 20px 0 0 0;
  }
}
