.add__text {
  font-family: YS Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  margin: 15px 0 0 0;
  padding: 0;
  text-decoration: none;
  color: #000;
}
.add__text:first-child {
  margin: 0;
}
