.content__how-to {
  margin: 175px auto 0;
}

.how-to {
  padding: 0;
  max-width: 1200px;
  box-sizing: border-box;
}

.how-to__title {
  margin: 0;
  padding: 0;
}

.how-to__recommendation-list {
  margin: 40px 0 0;
  max-width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
  box-sizing: border-box;
}

.how-to__recommendation-list-item {
  margin: 0;
  padding: 0;
  max-width: 387px;
  display: flex;
  gap: 15px;
  box-sizing: border-box;
}

.how-to__recommendation-list_bullet {
  margin: 0;
  padding: 0;
  display: block;
  width: 40px;
  height: 40px;
}

.how-to__recommendation {
  margin: 0;
  padding: 0;
  max-width: 332px;
  letter-spacing: -0.8px;
}