.info__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 590px;
}
@media (max-width:375px) {
  .info__text-container{
    flex-direction: column-reverse;
    max-width: 315px;
  }
}
