.grid__item-title {
  margin: 0 0 15px 0;
  color: var(--color-text);;
  font-family: var(--font_font_h3);
  font-style: normal;
  font-weight: var(--font_font_weight_h3);
  font-size: var(--font_size_large);
  line-height: var(--font_line_height_large);
}


@media screen and (max-width: 1100px) {
  .grid__item-title {
    font-size: var(--font_size_regular);
  }
}