.footer__journal {
  display: flex;
  max-width: 182px;
  justify-content: space-between;
  margin: 50px 0;
  padding: 0;
}
@media (max-width: 375px) {
  .footer__journal {
    grid-area: journal;
    margin: 0;
  }
}
