.text_large {
  font-family: var(--font_font_large);
  font-weight: var(--font_font_weight_large);
  font-size: var(--font_size_large);
  line-height: var(--font_line_height_large);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}