.call__num {
  margin: 0 0 5px 0;
  padding: 0;
}
@media (max-width: 375px) {
  .call__num {
    margin: 0;
    font-family: "YS Display";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
  }
}
