.contacts__btn {
  margin: 0 19px 0 19px;
  padding: 23px 0 23px 30px;
  width: 160px;
height: 167px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.contacts__btn:last-child {
  margin: 0;
}
.contacts__btn:first-child {
  margin: 0;
}

