.vacancies {
  padding: 0;
  max-width: 1200px;
}

.vacancies__title {
  margin: 0;
  padding: 0;
}

.vacancies__form {
  margin: 40px 0 0;
  padding: 0;
}

.vacancies__role-selection {
  margin: 0;
  padding: 0;
  width: fit-content;
  display: flex;
  gap: 8px;
  border: 0;
}

.vacancies__role-radio {
  margin: 0;
  padding: 0;
  display: none;
}

.vacancies__role-button {
  margin: 0;
  padding: 0 24px;
  display: block;
  width: fit-content;
  height: 50px;
  border: 0;
  border-radius: 14px;
  line-height: 50px;
  text-align: center;
  color: #000;
}

.vacancies__role-button:hover {
  background-color: #F0F0F0;
}

.vacancies__role-radio:checked + .vacancies__role-button {
  background-color: #262626;
  color: #FFF;
}

.vacancies__course-selection {
  margin: 30px 0 0;
  padding: 6px;
  width: fit-content;
  background-color: #F0F0F0;
  border-radius: 16px;
  border: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.vacancies__course-radio {
  margin: 0;
  padding: 0;
  display: none;
}

.vacancies__course-button {
  margin: 0;
  padding: 0 16px;
  display: block;
  height: 36px;
  border: 0;
  line-height: 36px;
  text-align: center;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.85);
}

.vacancies__course-button:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.vacancies__course-radio:checked+.vacancies__course-button {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 1px rgba(36, 36, 36, 0.07);
}

.vacancies__cards {
  margin: 40px 0 0;
}

.vacancies__empty {
  margin: 10px 0 0;
  padding: 44px var(--margin_M);
  max-width: 1200px;
  display: none;
  justify-content: space-between;
  background-color: #3F75E0;
  border-radius: 40px;
}

.vacancies__empty_visible {
  display: flex;
}

.vacancies__empty-description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vacancies__empty-title {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.vacancies__empty-text {
  margin: 0;
  padding: 0;
  max-width: 713px;
  color: #FFFFFF;
}