.response-button {
  margin: 0;
  padding: 0;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  width: 285px;
  height: 50px;
  border: 0;
  border-radius: 120px;
  background-color: #262626;
  text-align: center;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.85);
  font-family: var(--font_font_small);
  font-weight: var(--font_font_weight_small);
  font-size: var(--font_size_small);
  line-height: 50px;
}

.response-button:hover {
  cursor: pointer;
}