.form__input-container {
  border: 2px solid #e0e0e0;
  border-radius: 14px;
  width: 384px;
  display: flex;
  padding: 0 16px 0 12px;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-top: 20px;
}
.form__input-container:hover {
  border: 2px solid #000;
}
.form__input-container:first-of-type {
  margin-top: 32px;
}
