:root {
/* основные цвета */
--color_background: #FFFFFF;
--color_block: #D9D9D9;
--color_stroke: ;
--color_text: #000000;
--color_accent: ;
/* размеры отсупов */
--margin_XL: ;
--margin_L: ;
--margin_M: ;
--margin_S: ;
/* размеры шрифотв */
--font_L: ;
--font_M: ;
--font_S: ;
}