.grid_type_video {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 215px 0 155px 205px;
  gap: 20px;
}

@media screen and (max-width: 756px) {
  .grid_type_video {
    gap: 10px 15px;
    grid-template-columns: auto auto;
    grid-template-rows: 120px 70px 120px 18px 122px;
  }
}