.videos__grid {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 215px 0 136px 205px;
  gap: 20px;
}

@media screen and (max-width: 756px) {
  .videos__grid {
    gap: 10px 15px;
    grid-template-columns: auto auto;
    grid-template-rows: 120px 70px 120px 18px 122px;
  }
}