.contacts__btn_type_vk {
  background-image: url(../../../../images/VK.svg);
  width: 155px;
  height: 117px;
  background-repeat: no-repeat;
  border: none;
}
.contacts__btn_type_vk:hover {
  background-image: url(../../../../images/VK_h.svg);
  transition: 0.3s ease-in-out;
}
.contacts__btn_type_vk:visited {
  background-image: url(../../../../images/VK_p.svg);
}
