.contacts__btn_type_ld {
  background-image: url(../../../../images/LD.svg);
  transition: 0.3s ease-in-out;
  border: none;
}
.contacts__btn_type_ld:hover {
  background-image: url(../../../../images/LD_h.svg);
}
.contacts__btn_type_ld:visited {
  background-image: url(../../../../images/LD_p.svg);
}

@media screen and (max-width: 756px) {
  .contacts__btn_type_ld {
    background-size: 56px 57px;
  }
}
