.contacts__btn_type_ld {
  background-image: url(../../../../images/LD.svg);
  /* width: 134px;
  height: 117px; */
  border: none;
  background-repeat: no-repeat;
}
.contacts__btn_type_ld:hover {
  background-image: url(../../../../images/LD_h.svg);
}
.contacts__btn_type_ld:active {
  background-image: url(../../../../images/LD_p.svg);
}

@media screen and (max-width: 756px) {
  .contacts__btn_type_ld {
    background-size: 56px 57px;
  }
}